const myVar = {
    a: 'blah',
    b: 'other'
};

const myOtherVar = {
    ...myVar,
    b: 'something else',
    c: 4
}

/*
    myOtherVar = {
        a: 'blah',
        b: 'something else',
        c: 3
    }
*/