<rewrite>
  <rules>
    <rule name="static dist files" stopProcessing="true">
      <match url="^(.+)$" />
      <conditions>
        <add input="{APPL_PHYSICAL_PATH}build\{R:1}" matchType="IsFile" />
      </conditions>
      <action type="Rewrite" url="/build/{R:1}" />
    </rule>
    <rule name="React Routes" stopProcessing="true">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
      </conditions>
      <action type="Rewrite" url="/build/index.html" />
    </rule>
    <rule name="index.html as document root" stopProcessing="true">
      <match url="^$" />
      <action type="Rewrite" url="/build/index.html" />
    </rule>
  </rules>
</rewrite>