//MyModule.tsx
export const ABC = 'abc';

export default () => {
    return <div>Some Sample Text</div>;
}

//App.tsx
import MyModule from './MyModule';
import { ABC } from './MyModule';
import MyModule, { ABC } from './MyModule';
...
return  <div>
            Hello World!
            <MyModule />
            { ABC }
        </div>

//Output
<div>
    Hello World!
    <div>Some Sample Text</div>
    abc
</div>